<!DOCTYPE html>
<html lang="en">

<head>
    <title>Magic Rainbow Pencil</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="jumbotron">
                <h1 class="title">Magic Rainbow <img style="border-radius: 20px;" src="/output/arcoiris.png" width="75" height="75"></h1>
            </div>
            <h2 class="title">...et...Voilà!</h2>
        </div>
    <div class="title">
        <img src="/output/img.png" width="300" height="300">
    </div>
    <img src="/output/arcoiris.png" align="bottom">
    </body>

    </html>