<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Magic Rainbow</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>


</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="jumbotron">
            <h1 class="title">Magic Rainbow <img style="border-radius: 20px;" src="/output/arcoiris.png" width="75" height="75"></h1>
        </div>
        <div class="title">
                <h4>Colorea tus imagenes en B&N</h4>
        </div>
        <div class="title">
                <h5>SUBE TU IMAGEN EN BLANCO Y NEGRO</h5>
        </div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input class="inputCenter" type="file" name="file" id="file" class="inputfile"/>
                <div class="title">
                <input type="submit" name="submit" id="submit" class="btn btn-secondary inputfile send"/>
            </div>
            </form>
        </div>

    <img src="/output/arcoiris.png" align="bottom">
</body>
 
</html>