<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Magic Rainbow</title>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="jumbotron">
            <h1>Magic Rainbow</h1>
            <p class="lead"></p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Colorea tus imagenes en B&N</h4>

                <h5>INSERTE UNA IMAGEN EN BLANCO Y NEGRO</h5>
                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" id="file" class="inputfile"/>
                        <input type="submit" name="submit" id="submit" class="inputfile"/>
                        <label for="submit">Colorear</label>
                    </form>
            </div>

        </div>
    </div>
</body>
 
</html>